<div class="container">
  <h1>
    Welcome to {{title}}!
  </h1>

  <form name="xmlForm" name="formatform">
    <div class="form-group">
        <label for="fileInputJson">Format</label>
        <input type="file" accept='text/xml' class="form-control" id="fileInputJson" name="fileInputJson" (change)='onUploadJson($event)'/>
    </div>    
  </form>  
  <div>
    <pre>{{formattedData}}</pre>
    <pre>{{jsonFormattedData}}</pre>
    <pre>{{pipeFormattedData}}</pre>
    <pre>{{keyValueFormattedData}}</pre>
  </div> 
</div>


